.checkbox {
    position: relative;
    &:not(:last-child) {
        // margin-bottom: em(5);
    }
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus + .checkbox__label:before {
            box-shadow: 0 0 5px #000;
        }
        &:checked + .checkbox__label:before {
            background: $lightGreen url('@img/icons/checkmark.svg') center no-repeat;
			border: 1px solid $lightGreen;
        }
    }
    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;
        gap: 10px;
        font-weight: 400;
        font-size: rem(16);
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: #212529;
        &:before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            border-radius: 8px;
            border: 1px solid #dce5eb;
			transition: transform 0.3s ease 0s;
        }
    }
    // .checkbox__text
    &__text {
    }
}
