//<QUANTITY>
// Снипет (HTML): qa
.quantity {
    max-width: rem(103);
    width: 100%;
    display: flex;
    // .quantity__button
    &__button {
		display: grid;
		place-items: center;
        flex: 0 0 30px;
        position: relative;
        cursor: pointer;
		svg {
			pointer-events: none;
			path {
				transition: all 0.3s ease 0s;
			}
		}
        @media (any-hover: hover) {
            &:hover {
				svg {
					path {
						fill: #000;
					}
				}
            }
        }
        // .quantity__button_plus
        &_plus {
        }
        // .quantity__button_minus
        &_minus {
        }
    }
    // .quantity__input
    &__input {
        width: rem(43);
        input {
            height: 100%;
            font-weight: 600;
			background-color: inherit;
            font-size: rem(18);
            line-height: 1;
            color: #000;
            width: 100%;
            text-align: center;
        }
    }
}
