//====================================================================================================

.promo {
    // .promo__container
    &__container {
    }
    // .promo__body
    &__body {
        padding-top: rem(40);
    }
    // .promo__slider
    &__slider {
        position: relative;
        &.swiper {
            overflow: visible;
            @media (max-width: em(1720)) {
                overflow: hidden;
            }
        }
    }
    // .promo__slider-wrapper
    &__slider-wrapper {
        position: relative;
    }
    // .promo__slider-slide
    &__slider-slide {
    }
    // .promo__slide-body
    &__slide-body {
        @include adaptiveValue("padding-left", 136, 20);
        @include adaptiveValue("padding-right", 136, 20);
        padding-top: rem(100);
        padding-bottom: rem(270);
    }
    // .promo__slide-ibg
    &__slide-ibg {
        border-radius: rem(32);
    }
    // .promo__slide-img
    &__slide-img {
        border-radius: rem(32);
    }
    // .promo__slide-info
    &__slide-info {
        max-width: rem(923);
        width: 100%;
    }
    // .promo__slide-subtitle
    &__slide-subtitle {
        display: flex;
        align-items: center;
        gap: rem(16);
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.3;
        color: #fff;
        position: relative;
        z-index: 5;
        margin-bottom: rem(10);
        opacity: 0;
        transform: translate(-100px, 0px);
        transition: all 0.8s ease 0s;
        .swiper-slide-visible.swiper-slide-active & {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        &::before {
            content: "";
            display: block;
            width: rem(24);
            height: rem(2);
            background-color: #fff;
        }
    }
    // .promo__slide-title
    &__slide-title {
        font-weight: 700;
        font-size: rem(128);
        @include adaptiveValue("font-size", 128, 38);
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: #fff;
        position: relative;
        z-index: 5;
        margin-bottom: rem(40);
        opacity: 0;
        transform: translate(0px, -50px);
        transition: all 0.8s ease 0s;
        .swiper-slide-visible.swiper-slide-active & {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .promo__slide-weather
    &__slide-weather {
        font-weight: 500;
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.3;
        color: #fff;
        position: relative;
        z-index: 5;
        opacity: 0;
        transform: translate(100px, 0px);
        transition: all 0.8s ease 0s;
        .swiper-slide-visible.swiper-slide-active & {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
    // .promo__slider-navigation
    &__slider-navigation {
        display: flex;
        align-items: center;
        gap: rem(8);
        position: absolute;
        @include adaptiveValue("left", 136, 20);
        bottom: 146px;
        @media (max-width: $mobileSmall) {
            bottom: 160px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(48);
            height: rem(48);
            border: 1px solid #fff;
            border-radius: 50%;
            svg {
                transition: all 0.3s ease 0s;
            }
        }
        .swiper-button-prev {
            @media (any-hover: hover) {
                &:hover {
                    svg {
                        transform: translate(10px, 0px);
                    }
                }
            }
        }
        .swiper-button-next {
            @media (any-hover: hover) {
                &:hover {
                    svg {
                        transform: translate(-10px, 0px);
                    }
                }
            }
        }
    }
    // .promo__banking
    &__banking {
        display: flex;
        gap: rem(24);
        position: absolute;
        right: 80px;
        bottom: 146px;
        max-width: rem(438);
        color: #fff;
        @media (max-width: $tablet) {
            bottom: 30px;
            right: 0;
            padding: 0 rem(20);
        }
    }
    // .promo__socials
    &__socials {
        position: absolute;
        right: -60px;
        top: 160px;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
    }
    // .promo__socials-link
    &__socials-link {
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.5;
        color: #000;
        &:not(:last-child) {
            margin: 0 rem(5) 0 0;
            &::after {
                content: "/";
                margin-left: rem(5);
            }
        }
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $lightGreen;
                &::after {
                    color: #000;
                }
            }
        }
    }
}

.banking {
    // .banking__icon
    &__icon {
        flex: 0 0 64px;
        width: rem(64);
        height: rem(64);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }
    // .banking__info
    &__info {
    }
    // .banking__text
    &__text {
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.5;
        margin-bottom: rem(8);
    }
    // .banking__link
    &__link {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 18);
        line-height: 1.5;
        text-decoration: underline !important;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: none !important;
            }
        }
    }
}

.search {
    position: relative;
    transform: translate(0px, -50%);
    @media (max-width: em(1050)) {
        transform: translate(0px, 0);
        margin: rem(30) 0 rem(50) 0;
    }
    // .search__container
    &__container {
        display: flex;
        justify-content: center;
    }
    // .search__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(30);
        padding: rem(30) rem(70) rem(15) rem(70);
        @include adaptiveValue("padding-right", 70, 15);
        @include adaptiveValue("padding-left", 70, 15);
        background-color: #fff;
        box-shadow: 0px 43px 66px rgba(0, 0, 0, 0.07);
        border-radius: rem(16);
        max-width: rem(1328);
        width: 100%;
        @media (max-width: $pc) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

//====================================================================================================

.body-search {
    // .body-search__column
    &__column {
        position: relative;
        @media (max-width: $tablet) {
            width: 100%;
        }
        &:not(:last-child) {
            &::after {
                content: "";
                width: 1px;
                height: 65px;
                position: absolute;
                top: 50%;
                @include adaptiveValue("right", -50, 0);
                transform: translate(0px, -50%);
                background-color: #dce5eb;
                @media (max-width: $pc) {
                    display: none;
                }
            }
        }
        &--activivty {
            max-width: rem(200);
            width: 100%;
            @media (max-width: $tablet) {
                max-width: 100%;
            }
        }
        &--location {
            max-width: rem(300);
            width: 100%;
            @media (max-width: $tablet) {
                max-width: 100%;
            }
        }
    }
    // .body-search__title
    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 28, 18);
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #212529;
        margin-bottom: rem(16);
        &-decore {
            display: inline-block;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 8px;
                z-index: 2;
                width: 100%;
                height: rem(7);
                background-color: #f5a623;
                opacity: 0.7;
            }
        }
        &-text {
            position: relative;
            z-index: 5;
        }
    }
    // .body-search__select
    &__select {
    }
    // .body-search__calendar
    &__calendar {
        position: relative;
        max-width: rem(150);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(0px, -50%);
            background-image: url("@img/icons/calendar.svg");
            width: rem(24);
            height: rem(24);
        }
        input {
            width: 100%;
            padding: rem(10) rem(35) rem(10) rem(2);
            font-size: rem(18);
            line-height: 1.2;
            text-decoration-line: underline;
            color: #99a3ad;
        }
    }
    // .body-search__text
    &__text {
        text-align: center;
        font-size: rem(12);
        line-height: 1.5;
    }
    // .body-search__btn
    &__btn {
        flex: 1 1 112px;
        width: rem(112);
        height: rem(112);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightGreen;
        border-radius: rem(16);
        margin-bottom: rem(10);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #218b84;
            }
        }
        @media (max-width: $tablet) {
            margin: 0 auto;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            width: 100%;
        }
    }
}

//====================================================================================================

.featured {
    @include adaptiveValue("margin-bottom", 160, 50);
    // .featured__container
    &__container {
    }
    // .featured__title
    &__title {
    }
    // .featured__text
    &__text {
        margin-bottom: rem(30);
    }
    // .featured__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
        gap: rem(32);
        @media (max-width: em(1100)) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
    // .featured__item
    &__item {
        background: #fff;
        box-shadow: 0px 2px 4px rgba(14, 86, 124, 0.16);
        border-radius: rem(20);
        padding: rem(16);
    }
    // .featured__item-img
    &__item-img {
        padding-bottom: percent(256, 480);
        border-radius: rem(20);
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(15);
        }
        img {
            border-radius: rem(20);
        }
    }
    // .featured__item-ibg
    &__item-ibg {
    }
    // .featured__item-info
    &__item-info {
        padding: rem(16);
        @media (max-width: $mobileSmall) {
            padding: 0;
        }
    }
    // .featured__item-title
    &__item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(10);
        margin-bottom: rem(8);
        a {
            font-weight: 600;
            font-size: rem(24);
            line-height: 1.5;
            letter-spacing: -0.38px;
            color: #1d293f;
        }
    }
    // .featured__item-like
    &__item-like {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fbfbfb;
        border-radius: 50%;
        svg {
            pointer-events: none;
        }
        &._active {
            svg {
                path {
                    fill: red;
                }
            }
        }
    }
    // .featured__item-hesh
    &__item-hesh {
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: #99a3ad;
        margin-bottom: rem(20);
    }
    // .featured__item-blockrice
    &__item-blockrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(30);
    }
    // .featured__item-price
    &__item-price {
        font-weight: 600;
        @include adaptiveValue("font-size", 32, 24);
        line-height: 1.5;
        letter-spacing: -0.48px;
        color: #1d293f;
    }
    // .featured__item-rating
    &__item-rating {
        display: flex;
        flex-wrap: wrap;
        font-size: rem(14);
        line-height: 1.5;
        color: #546179;
        max-width: rem(100);
    }
    // .featured__item-days
    &__item-days {
        display: flex;
        align-items: center;
        gap: rem(8);
        font-weight: 500;
        line-height: 1.2;
        color: #546179;
        margin-bottom: rem(8);
    }
    // .features__item-cancellation
    &__item-cancellation {
        display: flex;
        align-items: center;
        gap: rem(12);
        font-weight: 500;
        line-height: 1.2;
        color: #546179;
    }
}

.rating {
    // .rating__quantity
    &__quantity {
        font-size: rem(14);
        line-height: 1.5;
    }
}

//====================================================================================================

.galleryslider {
    @include adaptiveValue("margin-bottom", 160, 50);
    // .galleryslider__container
    &__container {
    }
    // .galleryslider__head
    &__head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }
    // .galleryslider__head-info
    &__head-info {
    }
    // .galleryslider__title
    &__title {
    }
    // .galleryslider__text
    &__text {
    }
    // .galleryslider__head-navigation
    &__head-navigation {
        display: flex;
        align-items: center;
        gap: rem(16);
        .swiper-button-prev,
        .swiper-button-next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(48);
            height: rem(48);
            border: 1px solid #546179;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease 0s;
            svg {
                transition: all 0.3s ease 0s;
            }
            @media (any-hover: hover) {
                &:hover {
                    background-color: $lightGreen;
                    border: 1px solid $lightGreen;
                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }
        }
        .swiper-button-prev {
            @media (any-hover: hover) {
                &:hover {
                    svg {
                        transform: translate(5px, 0px);
                    }
                }
            }
        }
        .swiper-button-next {
            @media (any-hover: hover) {
                &:hover {
                    svg {
                        transform: translate(-5px, 0px);
                    }
                }
            }
        }
    }
    // .galleryslider__slider
    &__slider {
    }
    // .galleryslider__wrapper
    &__wrapper {
    }
    // .galleryslider__slide
    &__slide {
        &.swiper-slide-prev {
            opacity: 0 !important;
        }
        &.swiper-slide-next {
            opacity: 0;
        }
        &.swiper-slide-visible.swiper-slide-active {
            opacity: 1;
        }
    }

}

.galleryslide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 335px);
    gap: rem(32);
    @media (max-width: em(1100)){
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-template-rows: auto;
    }
    // .galleryslide__item
    &__item {
        @media (max-width: em(1100)){
            height: rem(335);
        }
        &_1 {
            grid-column: 1 / 4;
            @media (max-width: em(1100)){
                grid-column: auto;
            }
        }
        &_big {
            grid-column: 4 / 8;
            grid-row: 1 / 3;
            @media (max-width: em(1100)){
                grid-column: auto;
                grid-row: auto;
            }
        }
        &_width {
            grid-column: 8 / 13;
            @media (max-width: em(1100)){
                grid-column: auto;
            }
        }
        &_4 {
            grid-column: 1 / 4;
            @media (max-width: em(1100)){
                grid-column: auto;
            }
        }
        &_mini {
            grid-column: 8 / 10;
            @media (max-width: em(1100)){
                grid-column: auto;
            }
        }
        &_6 {
            grid-column: 10 / 13;
            @media (max-width: em(1100)){
                grid-column: auto;
            }
        }
    }
    // .galleryslide__item-ibg
    &__item-ibg {
        max-width: 100%;
        width: 100%;
        border-radius: rem(32);
    }
    // .galleryslide__rating
    &__rating {
        position: absolute;
        @include adaptiveValue("top", 32, 16);
        @include adaptiveValue("left", 32, 16);
        background-color: #fef2de;
        border-radius: 16px;
        font-weight: 500;
        font-size: rem(18);
        line-height: 1.1;
        color: #f5a623;
        padding: rem(6) rem(10);
        z-index: 5;
    }
    // .galleryslide__img
    &__img {
        border-radius: rem(32);
    }
    // .galleryslide__name
    &__name {
        position: absolute;
        left: 0;
        bottom: 0;
        @include adaptiveValue("padding", 32, 16);
        font-weight: 500;
        font-size: rem(24);
        line-height: 1.2;
        letter-spacing: -0.38px;
        color: #fff;
    }
}

//====================================================================================================
